@use '../../sass/grid';
@use '../../sass/settings';
@use '../../sass/typography';

img {
  max-width: 100%;
}

.main-content-area {
  @include typography.body();
}
.main-content-area h1 {
  @include typography.heading-1();
}
.main-content-area h2 {
  @include typography.heading-2();
}
.main-content-area h3 {
  @include typography.heading-3();
}
.main-content-area h4 {
  @include typography.heading-4();
}

.primary-column {
  margin-top: 32px;
}

.toc-container {
  @include grid.sticky-grid-item();
  max-width: 69.625rem;
  margin: auto;
  border-left: 2px solid settings.$color-less-light-grey;
}

.toc-list {
  list-style: none;
  padding-left: 0;
  margin-left: -2px;
  margin-top: 21.5px;
}

.toc-list__item {
  min-width: 150px;
  margin-bottom: 24px;
  padding-left: 20px;
  border-left: 2px solid settings.$color-less-light-grey;
  &:hover {
    border-left: 2px solid settings.$color-emphasis;
  }
}
.toc-list__item:last-child {
  margin-bottom: 0;
}

.toc-list__item--selected {
  min-width: 150px;
  margin-bottom: 24px;
  padding-left: 20px;
  border-left: 2px solid settings.$color-emphasis;
}

.toc-list__link {
  @include typography.navigation-heading();
  text-decoration: none;
}

.toc-list__item--selected .toc-list__link {
  @include typography.navigation-heading-selected();
}
