@use '../../sass/grid';
@use '../../sass/settings';
@use '../../sass/typography';

img {
  max-width: 100%;
}

.article-body {
  @include typography.body();

  h1 {
    @include typography.heading-1();
  }

  h2 {
    @include typography.heading-2();
  }

  h3 {
    @include typography.heading-3();
  }

  h4 {
    @include typography.heading-4();
  }

  article a {
    border-bottom: 1px dotted settings.$color-near-black;
    color: settings.$color-near-black;
    text-decoration: none;

    &:hover {
      border-bottom-color: settings.$color-emphasis;
      color: settings.$color-emphasis;
    }
  }
}

.jump-menu-container {
  @include grid.sticky-grid-item();
  border-left: 2px solid settings.$color-less-light-grey;
  margin: auto;
  max-width: 69.625rem;
}

.jump-menu-list {
  list-style: none;
  margin-left: -2px;
  margin-top: 21.5px;
  padding-left: 0;
}

.jump-menu-list__item {
  border-left: 2px solid settings.$color-less-light-grey;
  min-width: 150px;
  margin-bottom: 24px;
  padding-left: 20px;

  &:hover {
    border-left: 2px solid settings.$color-emphasis;
  }
}

.jump-menu-list__item:last-child {
  margin-bottom: 0;
}

.jump-menu-list__item--selected {
  border-left: 2px solid settings.$color-emphasis;
  min-width: 150px;
  margin-bottom: 24px;
  padding-left: 20px;
}

.jump-menu-list__link {
  @include typography.navigation-heading();
  text-decoration: none;
}

.jump-menu-list__item--selected .jump-menu-list__link {
  @include typography.navigation-heading-selected();
}
