@use '../../sass/typography';

.evaluation-summary-links {
    list-style: none;
    padding: 0;
}

.evaluation-summary-links__item {
    display: inline-block;
}

.evaluation-summary-links__item:not(:first-child):before {
    @include typography.body-small();
    content: " • ";
}

.evaluation-summary-links__item_link {
    @include typography.link-text();
}
