@use '../../sass/settings';
@use '../../sass/typography';

.content-header {
  border-bottom: settings.$border;
  margin: 0 0 2rem;
  padding-bottom: 36px;
  text-align: left;
}

.content-header__article_flags {
  list-style: none;
  padding-left: 0;
}

.article-flags__list_item {
  display: inline;
  padding-right: 6px;
}

.article-flags__link {
  @include typography.summary-badge();
  background-color: settings.$color-less-light-grey;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  min-height: 28px;
  padding: 6px 10px;

  &.article-flags__link-msa {
    color: settings.$color-emphasis;
  }
}

.content-header__title {
  @include typography.heading-1();
  margin-bottom: 36px;
  margin-top: 0;
}

.content-header-authors {
  margin: 16 0;
}
.content-header-authors--list {
  counter-reset: hidden-authors 0;
  display: inline;
  list-style: none;
  padding: 0;
}

.content-header-authors--author {
  @include typography.author-list-text();
  display: inline;

  &:after {
    content: ", ";
  }

  &:last-child:after {
    content: "";
  }
}

.content-header-authors--showall-control {
  display: none;
}
@media only all and (min-width: settings.$breakpoint-extra-large) {
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-extra-large-max - 1}) ~ .content-header-authors--author:not(:last-child) {
    position: absolute;
    left: -9999px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    counter-increment: hidden-authors;
  }
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-extra-large-max - 1}):after {
    content: " … ";
  }
}
@media only all and (max-width: settings.$breakpoint-extra-large) {
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-large-max - 1}) ~ .content-header-authors--author:not(:last-child) {
    position: absolute;
    left: -9999px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    counter-increment: hidden-authors;
  }
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-large-max - 1}):after {
    content: " … ";
  }
}
@media only all and (max-width: settings.$breakpoint-large) {
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-medium-max - 1}) ~ .content-header-authors--author:not(:last-child) {
    position: absolute;
    left: -9999px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    counter-increment: hidden-authors;
  }
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-medium-max - 1}):after {
    content: " … ";
  }
}
@media only all and (max-width: settings.$breakpoint-medium) {
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-small-max - 1}) ~ .content-header-authors--author:not(:last-child) {
    position: absolute;
    left: -9999px;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    counter-increment: hidden-authors;
  }
  .content-header-authors--showall-control:not(:checked) ~ .content-header-authors--list .content-header-authors--author:nth-child(#{settings.$author-list-small-max - 1}):after {
    content: " … ";
  }
}
.content-header-authors--showall-label  {
  @include typography.author-list-more-text();
  cursor: pointer;
  display: inline;
}
.content-header-authors--showall-control:checked ~ .content-header-authors--showall-label:after {
  content: "";
}
.content-header-authors--showall-control:not(:checked) ~ .content-header-authors--showall-label:after {
  content: " + " counter(hidden-authors) " more.";
}

<<<<<<< HEAD
.content-header__affiliations {
  margin: 16px 0;
}
.content-header__affiliations--summary {
  @include typography.affiliations-list-text();
  display: block;
}
.content-header__affiliations--summary-count {
  @include typography.affiliations-summary-count-text();
  cursor: pointer;
}
.content-header__affiliations[open] .content-header__affiliations--summary {
  display: none;
}
.content-header__affiliations--list {
=======

.content-header-affiliations {
  margin: 16 0;
}
.content-header-affiliations--list {
  counter-reset: hidden-affiliations 0;
>>>>>>> 4380cad (fix remaining bugs with content header author and affiliation hiding)
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.content-header-affiliations--affiliation {
  @include typography.affiliations-list-text();
  display: inline;

  &:after {
    content: " • ";
  }

  &:last-child:after {
    content: "";
  }
}
.content-header-affiliations--affiliation-address {
  display: inline;
  font-style: normal;

  &:after {
    content: ', ';
  }

  &:last-child:after {
    content: "";
  }
}
.content-header-affiliations--showall-control {
  display: none;
}

@media only all and (min-width: settings.$breakpoint-extra-large) {
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-extra-large-max}) ~ .content-header-affiliations--affiliation {
      position: absolute;
      left: -9999px;
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
      counter-increment: hidden-affiliations;
  }
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-extra-large-max}) {
    &:after {
      content: " … ";
    }
  }
}
@media only all and (max-width: settings.$breakpoint-extra-large) {
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-large-max}) ~ .content-header-affiliations--affiliation {
      position: absolute;
      left: -9999px;
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
      counter-increment: hidden-affiliations;
  }
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-large-max}) {
    &:after {
      content: " … ";
    }
  }
}
@media only all and (max-width: settings.$breakpoint-large) {
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-medium-max}) ~ .content-header-affiliations--affiliation {
      position: absolute;
      left: -9999px;
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
      counter-increment: hidden-affiliations;
  }
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-medium-max}) {
    &:after {
      content: " … ";
    }
  }
}
@media only all and (max-width: settings.$breakpoint-medium) {
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-small-max}) ~ .content-header-affiliations--affiliation {
      position: absolute;
      left: -9999px;
      max-height: 0px;
      overflow: hidden;
      opacity: 0;
      counter-increment: hidden-affiliations;
  }
  .content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--list .content-header-affiliations--affiliation:nth-child(#{settings.$institution-list-small-max}) {
    &:after {
      content: " … ";
    }
  }
}
.content-header-affiliations--showall-label {
  display: inline;
}
.content-header-affiliations--showall-label  {
  @include typography.affiliations-list-more-text();
  cursor: pointer;
  display: inline;
}
.content-header-affiliations--showall-control:checked ~ .content-header-affiliations--showall-label:after {
  content: "";
}
.content-header-affiliations--showall-control:not(:checked) ~ .content-header-affiliations--showall-label:after {
  content: " + " counter(hidden-affiliations) " more.";
}

.content-header__footer {
  display: flex;
}

.content-header__identifiers {
  @include typography.identifiers-list-text();
  list-style: none;
  padding: 0;
}

.content-header__identifier {
  display: none;
}
.content-header__identifier:first-child {
  display: list-item;
}

.content-header__identifier a {
  @include typography.identifiers-list-text();
  text-decoration: none;
}

.content-header__icons {
  margin: 14px 5px;
  padding: 0px;
}
.content-header__icons li {
  @include typography.identifiers-list-text();
  display: inline-block;
}
.content-header__icon--oa {
  background-image: url(/images/oa.svg),linear-gradient(transparent, transparent);
  height: 26px;
  width: 16px;
}
.content-header__icon {
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
.content-header__icon--cc {
  background-image: url(/images/cc.svg),linear-gradient(transparent,transparent);
  height: 24px;
  width: 18px;
}

.identifier__name {
  display: none;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}
