@use '../../sass/buttons';
@use '../../sass/grid';
@use '../../sass/settings';
@use '../../sass/typography';

@mixin _right-column-section() {
  border-bottom: settings.$border;
  margin-top: 24px;
  padding-bottom: 24px;

  @media only all and (min-width: settings.$breakpoint-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: 230px;
  }
}

.article-details {
  @include grid.sticky-grid-item();
}

.article-status {
  @include _right-column-section();
  margin-top: 48px;

  @media only all and (min-width: settings.$breakpoint-medium) {
    margin-top: 0;
  }
}

.article-status__heading {
  font-family: settings.$font-family-primary;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 0;
  color: settings.$color-emphasis
}

.article-status__text {
  @include typography.body-small;
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
}

.article-actions {
  margin: 0;
  padding-left: 0;
  padding-top: 24px;
}

.article-actions__list-item {
  display: inline-block;
  list-style: none;
}

.article-actions__button {
  @include buttons.action-button();
  display: inline-block;
  margin-bottom: 12px;
  margin-right: 6px;

  &:nth-child(even) {
    margin-right: 0;
  }
}

.article-actions__button_icon{
  @include buttons.button-icon();
}

.review-timeline {
  @include _right-column-section();
}

.review-timeline__list {
  list-style: none;
  padding-left: 0;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    display: flex;
    flex-flow: row wrap;
  }

}

.review-timeline__event {
  @include typography.right-bar-text();
  flex-basis: 100%;
  font-weight: 600;
  margin: 0;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    flex-basis: 50%;
  }
}

.review-timeline__date {
  @include typography.right-bar-text();
  color: settings.$color-text-inactive;
  flex-basis: 100%;
  margin: 0;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    flex-basis: 35%;
    flex-grow: 1;
    text-align: right;
  }
}

.review-timeline__reviews_link {
  @include typography.link-text();
}

.link-icon {
  vertical-align: bottom;
}

.article-metadata {
  @include _right-column-section();
}

.article-metrics {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.article-metrics__item {
  @include typography.right-bar-text();
  color: settings.$color-text-inactive;
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}
