@use "./settings";
@use "./settings";
@use "./typography";

@mixin action-button() {
  @include typography.body-small();
  background-color: settings.$color-less-light-grey;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  max-height: 40px;
  padding: 8px 20px 8px 12px;
  text-decoration: none;
}

@mixin button-icon() {
  color: settings.$color-near-black;
  margin-right: 6px;
  vertical-align: middle;
}
