@use 'settings';

.grid-container {
  margin: 0 auto;
  @media only all and (min-width: 730px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: settings.$grid-gutter;
    max-width: settings.$max-site-width;
    padding: 0;
  }
}
