@use 'settings';

.grid-container {
  margin: 0 auto;
  padding: 0 24px;

  @media only all and (min-width: 480px) {
    padding: 0 48px;
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: settings.$grid-gutter;
    max-width: settings.$max-site-width;
  }
}

@mixin sticky-grid-item() {
  position: sticky;
  top: 151px; // magic number (distance between top of window and where item should stop scrolling)
}
