// Colours
$colour-text: rgb(33,33,33);
$colour-text-inactive: rgb(118, 118, 118);

$colour-colab-red: rgb(188,35,37);
$colour-emphasis: $colour-colab-red;

// Fonts
$font-family-sans: Noto Sans,Arial,Helvetica,sans-serif;
$font-family-serif: Noto Serif,serif;
