// colors
$color-text: rgb(33,33,33);
$color-text-inactive: rgb(118, 118, 118);

$color-colab-red: rgb(188,35,37);
$color-emphasis: $color-colab-red;

// Fonts
$font-family-sans: Noto Sans,Arial,Helvetica,sans-serif;
$font-family-serif: Noto Serif,serif;
