@use 'settings';

@mixin heading-1() {
  color: settings.$colour-text;
  font-family: settings.$font-family-sans;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.21px;
  line-height: 40px;
}

@mixin heading-2() {
  color: settings.$colour-text;
  font-family: settings.$font-family-sans;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 36px;
}

@mixin heading-3() {
  color: settings.$colour-text;
  font-family: settings.$font-family-sans;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 28px;
}

@mixin _navigation-heading-base() {
  font-family: settings.$font-family-sans;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 26px;
}

@mixin navigation-heading() {
  @include _navigation-heading-base();
  color: settings.$colour-text-inactive;
  font-weight: 400;
}

@mixin navigation-heading-selected() {
  @include _navigation-heading-base();
  color: settings.$colour-text;
  font-weight: 600;
}

@mixin subheading() {
  color: settings.$colour-text;
  font-family: settings.$font-family-sans;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
}

@mixin body-text() {
  color: settings.$colour-text;
  font-family: settings.$font-family-serif;
}

@mixin link-text-sans() {
  font-family: settings.$font-family-sans;
  color: settings.$colour-emphasis;
  text-decoration: none;

  :visited {
    color: settings.$colour-emphasis;
  }
}

@mixin link-text-serif() {
  font-family: settings.$font-family-serif;
  color: settings.$colour-emphasis;
  text-decoration: none;

  :visited {
    color: settings.$colour-emphasis;
  }
}
