@use 'settings';

@mixin _heading-base() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-weight: 600;
}

@mixin heading-1() {
  @include _heading-base();
  font-size: 36px;
  line-height: 48px;
}

@mixin heading-2() {
  @include _heading-base();
  font-size: 26px;
  line-height: 36px;
}

@mixin heading-3() {
  @include _heading-base();
  font-size: 20px;
  line-height: 28px;
}

@mixin heading-4() {
  @include _heading-base();
  font-size: 14px;
  line-height: 24px;
}

@mixin navigation-heading() {
  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

@mixin navigation-heading-selected() {
  @include navigation-heading();
  color: settings.$color-text;
  font-weight: 600;
}

@mixin subheading() {
  @include _heading-base();
  font-size: 16px;
  line-height: 24px;
}

@mixin body() {
  color: settings.$color-text;
  font-family: settings.$font-family-secondary;
  font-size: 16px;
  line-height: 24px;
}

@mixin body-small() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 14px;
  line-height: 24px;
}

@mixin link-text() {
  color: settings.$color-emphasis;
  font-family: settings.$font-family-primary;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;

  :visited {
    color: settings.$color-emphasis;
  }
}

@mixin right-bar-text() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 14px;
  line-height: 32px;
}

@mixin author-list-text() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

@mixin affiliations-list-text() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 14px;
  line-height: 24px;
}

@mixin editors-and-reviewers-list-text() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 16px;
  line-height: 24px;
}

@mixin editors-and-reviewers-role-text() {
  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
  font-size: 14px;
}

@mixin identifiers-list-text() {
  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
  font-size: 14px;
  line-height: 24px;
}

@mixin article-review-timeline-text() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 14px;
  line-height: 32px;
}

@mixin summary-heading() {
  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
  font-size: 14px;
  line-height: 30px;

}

@mixin summary-badge() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 12px;
  line-height: 18px;
}
