.articles-page {
  font-family: "Roboto Light", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content auto;

  ul {
    list-style: none;
  }

  h1 {
    grid-column: 1/4;
    margin-bottom: 0;
    text-align: center;
    height: fit-content;
    color: rgb(33,33,33);
  }

  h2 {
    color: rgb(33,33,33);
  }

  .articles-list {
    margin-top: 50px;
    grid-column: 2;
  }
}




