@use '../sass/buttons';
@use '../sass/settings';
@use '../sass/typography';


.review-of {
  background-color: settings.$color-light-grey;
  padding: 24px;
  position: sticky;
  top: 35px;
}

.review-of__heading {
  @include typography.review-of-article-heading();
}

.review-of__article_link {
  @include typography.review-of-article-link();
}

.review-of__authors {
  list-style: none;
  padding: 0;
}

.review-of__author {
  @include typography.body-small();
  display: inline;

  &:after {
    content: ', ';
  }
  &:last-child:after {
    content: '';
  }
}

.article-review-status {
  border-bottom: settings.$border;
  margin-top:24px;
  padding-bottom: 36px;

  @media only all and (min-width: 730px) {
    margin-top: 0;
  }
}

.article-review-status__heading {
  color: settings.$color-emphasis;
  font-family: settings.$font-family-primary;
  margin-top: 0;
}

.article-review-status__text {
  @include typography.body;
}


.article-review-status-timeline {
  max-width: 220px;
}

.article-review-status-timeline__list {
  list-style: none;
  padding-left: 0;
}

.article-review-status-timeline__list_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.article-review-status-timeline__event {
  @include typography.article-review-timeline-text();
  font-weight: 600;
}

.article-review-status-timeline__date {
  @include typography.article-review-timeline-text();
  color: settings.$color-text-inactive;
}

.article-review-link {
  @include typography.link-text();
}

.review-list {
  list-style: none;
  padding: 18px 0 0;
  font-family: settings.$font-family-primary;
}

.review-list__item {
  margin-bottom: 42px;
}

.review-list__item:first-child {
  padding-top: 0;
}

.review-list__item:last-child {
  border-bottom: none;
}

.review-list-content {
  p {
    @include typography.body();

    &:first-child {
      margin-top: 0;
    }
  }

  strong {
    @include typography.heading-2();
  }

  blockquote {
    @include typography.blockquote();

    border-left: 2px solid settings.$color-divider-grey;
    margin: 0;
    padding-left: 1em;

    p, li {
      @include typography.body-small();
    }

    strong {
      @include typography.heading-4();
    }
  }
}

.return-button {
  @include buttons.action-button();
  margin-bottom: 36px;
  position: sticky;
  top: 35px;
}

.return-button__icon {
  @include buttons.button-icon();
}

.summary {
  margin-bottom: 36px;
}

.summary-title {
  @include typography.heading-2();
}

.summary-text {
  @include typography.body();
}

.summary-text__highlight {
  color: settings.$color-emphasis;
}

.summary-heading {
  @include typography.summary-heading();
  font-weight: normal;
}

.summary-badge-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.summary-badge-list__item {
  @include buttons.action-button();
  @include typography.summary-badge();
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 5px 10px 6px 10px;
}

.summary-badge-list__item--active {
  background-color: settings.$color-badge-active;
  color: white;
}

.editors-and-reviewers {
  margin-bottom: 36px;
  padding-top: 18px;
}

.editors-and-reviewers__header {
  @include typography.heading-2();
  margin: 0;
}

.editors-and-reviewers__list {
  list-style: none;
  padding: 0;
  @include typography.editors-and-reviewers-list-text();
  margin: 0 0 36px;
}

.editors-and-reviewers__person {
  margin-bottom: 24px;
}

.editors-and-reviewers__person-role {
  @include typography.editors-and-reviewers-role-text();
  margin-bottom: 6px;
}

.editors-and-reviewers__person-name {
  @include typography.heading-3();
  margin-bottom: 6px;
  line-height: 24px;
}
