@use '../sass/buttons';
@use '../sass/settings';
@use '../sass/typography';


.article-review-status {
  border-bottom: settings.$border;
  margin-top:24px;
  padding-bottom: 36px;

  @media only all and (min-width: 730px) {
    margin-top: 0;
  }
}

h1.article-review-status__heading {
  color: settings.$color-emphasis;
  font-family: settings.$font-family-primary;
  margin-top: 0;
}

.article-review-status__text {
  @include typography.body;
}


.article-review-status-timeline {
  max-width: 220px;
}

.article-review-status-timeline__list {
  list-style: none;
  padding-left: 0;
}

.article-review-status-timeline__list_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.article-review-status-timeline__event {
  @include typography.article-review-timeline-text();
  font-weight: 600;
}

.article-review-status-timeline__date {
  @include typography.article-review-timeline-text();
  color: settings.$color-text-inactive;
}

.article-review-link {
  @include typography.link-text();
}

.review-list {
  list-style: none;
  margin: 2rem;
  padding: 0;
  font-family: settings.$font-family-primary;
}

.review-list__item {
  padding-top: 2rem;
  border-bottom: 1px solid black;
}

.review-list__item:first-child {
  padding-top: 0;
}

.review-list__item:last-child {
  border-bottom: none;
}

.review-list-content {
  p {
    @include typography.body();
  }

  strong {
    @include typography.heading-2();
  }

  blockquote {
    p, li {
      @include typography.body-small();
      color: settings.$color-text-inactive;
    }

    strong {
      @include typography.heading-4();
      color: settings.$color-text-inactive;
    }
  }
}

.return-button {
  @include buttons.action-button();
  margin-bottom: 36px;
}

.return-button__icon {
  @include buttons.button-icon();
}

.summary-badge-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.summary-badge-list__item {
  @include buttons.action-button();
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 8px 12px;
}

.summary-badge-list__item--active {
  color: white;
  background-color: settings.$color-badge-active;
}
