@use '../sass/settings';
@use '../sass/typography';

.reviews-page {
  grid-column: 1/12;
  grid-row: 2;
}

.review-list {
  list-style: none;
  margin: 2rem;
  padding: 0;
  font-family: settings.$font-family-primary;
}

.review-list__item {
  padding-top: 2rem;
  border-bottom: 1px solid black;
}

.review-list__item:first-child {
  padding-top: 0;
}

.review-list__item:last-child {
  border-bottom: none;
}

.review-list-content {
  p {
    @include typography.body();
  }

  strong {
    @include typography.heading-2();
  }

  blockquote {
    p, li {
      @include typography.body-small();
      color: settings.$color-text-inactive;
    }

    strong {
      @include typography.heading-4();
      color: settings.$color-text-inactive;
    }
  }
}

.return-link {
  @include typography.link-text();
}
