@use '../sass/settings';

.banner {
  border-bottom: settings.$border;
  grid-column: 1/13;
  height: 94px;
  margin-bottom: 48px;
}

.banner__logo {
  @include settings.logo-img();
  margin-top: 30px;
  text-indent: -2000px;
}
