@use '../sass/settings';

main {
  margin-top: 2rem;
  border-top: 0;
}

.toc-container {
  max-width: 69.625rem;
  margin: auto;
  padding-left: 48px;
}

.toc-list {
  list-style: none;
  padding-left: 0;
}

.toc-list__subheadings {
  list-style: none;
}

.toc-list__item {
  min-width: 150px;
  margin-bottom: 5px;
}

.toc-list__link {
  color: settings.$colour-text;
  font-weight: bold;
  font-family: settings.$font-family;
}

.toc-list__link--subheading {
  color: settings.$colour-text;
  font-family: settings.$font-family;
}

.review-link__container {
  max-width: 69.625rem;
  margin: auto;
  padding-left: 48px;
  text-align: right;
}
