@use '../sass/settings';
@use '../sass/typography';

img {
   max-width: 100%;
}

.content-header {
  margin: 0;
  text-align: left;
  border-bottom: 1px solid settings.$color-divider-grey;
  padding-bottom: 36px;

  &::before {
    @include settings.logo-img();
    margin-top: 43px;
  }
}

.content-header__title {
  @include typography.heading-1();
  margin-bottom: 36px;
  margin-top: 55px;
}

.content-header__authors {
  list-style: none;
  padding: 0;
}

.person {
  @include typography.author-list-text();
  display: inline;

  &:last-child .person__family_name:last-child:after {
    content: "";
  }
}

.person__family_name {
  &:after {
    content: " ";
  }

  &:last-child:after {
    content: ", ";
  }
}

.person__given_name:after {
  content: " ";
}

.person__affiliations {
  display: none;
}

.content-header__affiliations {
  list-style: none;
  padding: 0;
}

.organisation {
  @include typography.affiliations-list-text();
  display: inline;

  &:after {
    content: " • ";
  }

  &:last-child:after {
    content: "";
  }
}

.content-header__identifiers {
  display: none;
}

.main-content-area {
  @include typography.body();
}
.main-content-area h1 {
  @include typography.heading-1();
}
.main-content-area h2 {
  @include typography.heading-2();
}
.main-content-area h3 {
  @include typography.heading-3();
}
.main-content-area h4 {
  @include typography.heading-4();
}

@media only all and (min-width: 730px) {
  .content-header {
    grid-column: 1/10;
    grid-row: 1;
  }

  .secondary-column {
    grid-column: 10 / 13;
    grid-row: 1/3;
  }

  .primary-column {
    grid-column: 1/10;
    grid-row: 2;
  }
}

@media only all and (min-width: 1000px) {

  .primary-column {
    display: grid;
  }

  .table-contents {
    grid-column: 1/3;
  }

  .main-content-area {
    grid-column: 3/10;
    padding: 0 48px;
  }

  main {
    border-top: 0;
    margin-top: 2rem;
  }
}
.primary-column {
  margin-top: 32px;
}

.toc-container {
  max-width: 69.625rem;
  margin: auto;
  border-left: 2px solid settings.$color-less-light-grey;
}

.toc-list {
  list-style: none;
  padding-left: 0px;
  margin-left: -2px;
  margin-top: 21.5px;
}

.toc-list__item {
  min-width: 150px;
  margin-bottom: 24px;
  padding-left: 20px;
  border-left: 2px solid settings.$color-less-light-grey;
}
.toc-list__item:last-child {
  margin-bottom: 0px;
}

.toc-list__item--selected {
  min-width: 150px;
  margin-bottom: 24px;
  padding-left: 20px;
  border-left: 2px solid settings.$color-emphasis;
}

.toc-list__link {
  @include typography.navigation-heading();
}

.toc-list__item--selected .toc-list__link {
  @include typography.navigation-heading-selected();
}

.review-link__container {
  max-width: 69.625rem;
  margin: auto;
  padding-left: 48px;
  text-align: right;
}

.review-link__anchor {
  @include typography.link-text();
}
